{% extends "navbar.html" %}
{% block content %}
    <div class="container mt-4">
        <form action="{% url 'updation' std.id %}" method='post'>
            {% csrf_token %}
            <div class="form-group">
                <label for="sname">Name:</label>
                <input type="text" class="form-control" id="sname" name='sname' value="{{std.student_name}}">
            </div>
            <div class="form-group">
                <label for="smail">Email:</label>
                <input type="email" class="form-control" id="smail" name='smail' value="{{std.student_email}}">
            </div>
            <div class="form-group">
                <label for="sage">Age:</label>
                <input type="number" class="form-control" id="sage" name='sage' value="{{std.student_age}}">
            </div>
            <div class="form-group">
                <label for="sdate">Date:</label>
                <input type="date" class="form-control" id="sdate" name='sdate' value="{{std.student_date|date:'Y-m-d'}}">
            </div>
            <div class="form-group">
                <label for="sselect">Select Course:</label>
                <select class="form-control" id="sselect" name="sselect" style='width:100%'>
                    {% for i in crs %}
                        {% if i.id == std.student_course.id %}
                            <option value="{{i.id}}" selected>{{ i.course_name }}</option>
                        {% else %}
                            <option value="{{i.id}}">{{ i.course_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </form>
    </div>
{% endblock %}
